/* United
 * Bootswatch
 *= require_self
 *= require united/loader
 *= require united/bootswatch
*/
body { padding-top: 70px; } 

/* navbar */ 
.navbar-default {    
  background-color: white;     
  border-color: white; 
}
.navbar .container { 
  height: 7em;
} 

